@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Solway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Solway|Raleway|Montserrat&display=swap");
.sidebar {
  width: 27%;
  height: 100vh;
  position: fixed;
  background-color: black;
  background-image: linear-gradient(to right, rgba(255, 152, 35, 0.692), rgba(255, 156, 98, 0.8));
  padding: 2.5rem 0;
  box-shadow: inset -10px 0 8px -10px rgba(0, 0, 0, 0.55);
  z-index: 1;
  overflow: hidden; }
  .sidebar__heading {
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-bottom: 4rem;
    color: transparent;
    background-clip: text;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.25); }
  .sidebar__menu {
    display: grid;
    width: 100%;
    grid-row-gap: 2.5rem; }
  .sidebar__link {
    display: flex;
    align-items: center;
    font-family: 'Solway', serif;
    font-size: 2rem;
    font-weight: 900;
    text-transform: capitalize;
    padding-left: 2rem;
    background-image: linear-gradient(to left, rgba(172, 173, 66, 0.486) 50%, rgba(0, 0, 0, 0.45) 50%);
    background-size: 200%;
    background-position: 0;
    width: 100%;
    height: 4.5rem;
    color: rgba(255, 185, 185, 0.418);
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.295);
    transition: all .2s ease-in-out;
    z-index: 10; }
    .sidebar__link:hover {
      color: rgba(0, 0, 0, 0.6);
      background-position: -100%;
      border-top: 2px solid rgba(255, 255, 255, 0.65);
      border-bottom: 2px solid rgba(255, 255, 255, 0.65);
      box-shadow: 0 0 10px -4px white; }

.random__container {
  display: grid;
  grid-row-gap: 3rem;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto 1fr; }

.random__heading {
  text-transform: capitalize;
  align-self: center;
  color: #c49e66;
  padding-left: 5rem;
  font-size: 4rem;
  font-family: 'Bebas Neue', cursive; }

.random__generate-button {
  justify-self: end;
  border: 2px solid #ffd588;
  background-color: #5c5454;
  font-size: 1.2rem;
  align-self: center;
  border-radius: 100px;
  color: rgba(124, 87, 76, 0.842);
  text-transform: capitalize;
  padding: .8rem 2rem;
  transition: all .15s linear;
  cursor: pointer; }
  .random__generate-button:hover {
    background-color: rgba(255, 193, 79, 0.521);
    color: rgba(0, 0, 0, 0.8); }

.random__item {
  display: flex;
  grid-column: 1 / span 2;
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 10px; }

.random__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2rem;
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.8); }
  .random__info > h2 {
    font-size: 2rem;
    color: rgba(155, 63, 63, 0.925); }
  .random__info > p {
    padding: 1.5rem 0; }
  .random__info > *:not(h2):not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.random__img-container {
  align-self: flex-start;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid black;
  box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 0.3); }

.random__img {
  display: block; }

.custom__form-container {
  justify-content: flex-end;
  background-color: white;
  padding: .5rem  1rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: all 0.5s cubic-bezier(0.81, 0.4, 0.74, 0.84);
  box-shadow: 0 0 0 0 grey;
  z-index: 20; }
  .custom__form-container--visible {
    transform: translateY(0);
    box-shadow: 0 0 30px 1px rgba(255, 255, 255, 0.3), 0 0 10px 2px rgba(0, 0, 0, 0.5); }
    .custom__form-container--visible .custom__form-toggle {
      opacity: 1; }

.custom__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 1px;
  font-family: Helvetica, sans-serif;
  justify-content: stretch; }
  .custom__form > * {
    padding: 1.2rem 0; }
  .custom__form > div {
    display: flex;
    align-items: center; }
    .custom__form > div input {
      flex: 1;
      line-height: 1.5;
      font-size: 1rem;
      border-bottom: 2px solid rgba(138, 28, 0, 0.2);
      margin-left: 15px;
      transition: .15s all linear; }
      .custom__form > div input:focus {
        border-color: rgba(138, 28, 0, 0.45); }
      .custom__form > div input[type=number]::-webkit-inner-spin-button, .custom__form > div input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none; }
  .custom__form > div:last-of-type {
    grid-column: 1 / span 2; }
  .custom__form > button {
    grid-column: 1 / -1;
    justify-self: center;
    cursor: pointer; }

.custom__form-toggle {
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  z-index: -1;
  transform: translateX(-50%) translateY(80%);
  background-color: red;
  opacity: .3;
  width: 9rem;
  height: 4.5rem;
  border-radius: 0 0 100px 100px;
  transition: all .5s linear;
  cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a:link,
a:active,
a:visited,
a:focus {
  text-decoration: none; }

select,
input,
button {
  outline: none;
  border: none; }

.main-container {
  position: relative;
  min-height: 100vh;
  margin-left: 27%;
  padding: 4rem;
  background-color: #2e1500; }
